body {
    padding: 0px;
    margin: 0px;
}
#content {
    display: grid;
    grid-template-areas:
    "header"
    "container"
    "footer";
    grid-template-rows: 5vh 90vh 5vh;
  }
#header{
      background: rgb(122, 18, 18);
      grid-area: header;
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap:15px;
      
  }
  #header div {
      border: 2px solid black;
      padding: 3px;
  }
#container{
    background: lightgrey;
    grid-area: container;
}
#innercontainer {
    display: grid;
    height: 100%;
    grid-template-areas:
    "left center right";
    grid-template-columns: 25vw 50vw 25vw;
  }
#left{
background: rgb(138, 138, 138);
    }
#center{
    background: rgb(214, 214, 214);
    height:90vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
#right{
    background: rgb(138, 138, 138);
}




#footer{
    background: rgb(122, 18, 18);
    grid-area: footer;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:15px;
}